@charset "UTF-8";

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Obl.eot");
  src: local("Futura New Medium Obl") local("FuturaNewMedium-Obl");
  src: url("../fonts/FuturaNewMedium-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Obl.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Obl.eot");
  src: local("Futura New Demi Obl") local("FuturaNewDemi-Obl");
  src: url("../fonts/FuturaNewDemi-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Reg.eot");
  src: local("Futura New Medium Reg") local("FuturaNewMedium-Reg");
  src: url("../fonts/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Reg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Reg.eot");
  src: local("Futura New Heavy Reg") local("FuturaNewHeavy-Reg");
  src: url("../fonts/FuturaNewHeavy-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Reg.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Obl.eot");
  src: local("Futura New Light Obl") local("FuturaNewLight-Obl");
  src: url("../fonts/FuturaNewLight-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Obl.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Obl.eot");
  src: local("Futura New Book Obl") local("FuturaNewBook-Obl");
  src: url("../fonts/FuturaNewBook-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Obl.eot");
  src: local("Futura New ExtraBold Obl") local("FuturaNewExtraBold-Obl");
  src: url("../fonts/FuturaNewExtraBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: local("Futura New Book Reg") local("FuturaNewBook-Reg");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Obl.eot");
  src: local("Futura New Bold Obl") local("FuturaNewBold-Obl");
  src: url("../fonts/FuturaNewBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Obl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Reg.eot");
  src: local("Futura New ExtraBold Reg") local("FuturaNewExtraBold-Reg");
  src: url("../fonts/FuturaNewExtraBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: local("Futura New Light Reg") local("FuturaNewLight-Reg");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Reg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: local("Futura New Demi Reg") local("FuturaNewDemi-Reg");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Reg.eot");
  src: local("Futura New Bold Reg") local("FuturaNewBold-Reg");
  src: url("../fonts/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Reg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Obl.eot");
  src: local("Futura New Heavy Obl") local("FuturaNewHeavy-Obl");
  src: url("../fonts/FuturaNewHeavy-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Obl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* Экраны */

/* Цвета */

/*Общие стили*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Futura New';
  color: #333333;
}

.container {
  position: relative;
  padding-bottom: 1px;
}

.container > * {
  padding-left: 12px;
  padding-right: 12px;
}

.container--no-p {
  padding: 0;
}

.container--no-p > * {
  padding: unset;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-size: 7vw;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.horiz-h {
  position: relative;
}

.horiz-h::before {
  position: absolute;
  top: 50%;
  left: -87px;
  content: '';
  width: 70px;
  height: 3px;
  background-color: #DA5C3E;
}

.horiz-h__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  margin-top: 1rem;
}

.vert-h {
  position: relative;
  padding-top: 91px;
  margin-bottom: 42px;
}

.vert-h::before {
  position: absolute;
  top: 0;
  left: -87px;
  content: '';
  width: 20px;
  height: 251px;
  background-color: #333333;
}

.vert-h--red::before {
  background-color: #DA5C3E;
}

.subtitle {
  color: #4F4F4F;
  margin-top: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.btn {
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  max-width: 100%;
  border-radius: 20px 0px;
}

.catalog .card {
  padding-right: 18px;
}

.card {
  border: none;
}

.card-body {
  padding: 32px 0;
  max-width: 321px;
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.card-title a {
  color: #333333;
}

.card-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.card-price {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.card--new::after {
  top: 3rem;
  position: absolute;
  content: "НОВИНКА";
  padding: 8px 16px;
  right: 2px;
  background-color: #DA5C3E;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

picture {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

picture > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.yellow {
  color: #F4E9BF;
}

.gap-0 {
  gap: 0 !important;
}

@media screen and (min-width: 576px) {
  .hstack-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-sm-0 {
    gap: 0rem !important;
  }

  .gap-sm-1 {
    gap: 0.25rem !important;
  }

  .gap-sm-2 {
    gap: 0.5rem !important;
  }

  .gap-sm-3 {
    gap: 1rem !important;
  }

  .gap-sm-4 {
    gap: 1.5rem !important;
  }

  .gap-sm-5 {
    gap: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    max-width: 60%;
    font-size: 36px;
  }

  .hstack-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-md-0 {
    gap: 0rem !important;
  }

  .gap-md-1 {
    gap: 0.25rem !important;
  }

  .gap-md-2 {
    gap: 0.5rem !important;
  }

  .gap-md-3 {
    gap: 1rem !important;
  }

  .gap-md-4 {
    gap: 1.5rem !important;
  }

  .gap-md-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 991.98px) {
  .container > * {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 992px) {
  .hstack-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-lg-0 {
    gap: 0rem !important;
  }

  .gap-lg-1 {
    gap: 0.25rem !important;
  }

  .gap-lg-2 {
    gap: 0.5rem !important;
  }

  .gap-lg-3 {
    gap: 1rem !important;
  }

  .gap-lg-4 {
    gap: 1.5rem !important;
  }

  .gap-lg-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 1199.98px) {
  .container > * {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .hstack-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-xl-0 {
    gap: 0rem !important;
  }

  .gap-xl-1 {
    gap: 0.25rem !important;
  }

  .gap-xl-2 {
    gap: 0.5rem !important;
  }

  .gap-xl-3 {
    gap: 1rem !important;
  }

  .gap-xl-4 {
    gap: 1.5rem !important;
  }

  .gap-xl-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 1399.98px) {
  .container > * {
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media screen and (min-width: 1400px) {
  .hstack-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-xxl-0 {
    gap: 0rem !important;
  }

  .gap-xxl-1 {
    gap: 0.25rem !important;
  }

  .gap-xxl-2 {
    gap: 0.5rem !important;
  }

  .gap-xxl-3 {
    gap: 1rem !important;
  }

  .gap-xxl-4 {
    gap: 1.5rem !important;
  }

  .gap-xxl-5 {
    gap: 3rem !important;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1199.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1399.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1400px){

@supports (-webkit-appearance:none){

}

}
